@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --anchorBgcolor: #BA4776;
    --mainColor: #fff;
    --mainColor2: #EEF3F9;
    --subColor: #39536C;
    --subColor2: #1C262F;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 1px;
}

input{
    outline: none;
}

header{
    background-color: #EEF3F9;
}

nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container > h3,
.container > p{
    font-size: 50px;
    font-weight: 300;
    padding: 20px 0;
    color: var(--subColor);
}

.container > p{
    width: 60%;
    font-weight: 400;
}

/* Header */

header{
    z-index: 100;
    position: sticky;
    top: 0;
}

nav div{
    display: flex;
    justify-content: space-between;
}

nav div img{
    margin-top: 5px;
}

nav div ul li{
    margin-top: 5px;
    margin-left: 35px;
}

nav div ul li a{
    color: var(--subColor);
    position: relative;
    font-weight: 550;
}

nav div ul li a:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--subColor);
    bottom: 0;
    animation-name: slideFromleft;
    animation-duration: 0.2s;
}

nav > a{
    padding: 15px;
    background-color: var(--anchorBgcolor);
    border-radius: 30px;
    font-weight: 450;
    color: var(--mainColor);
    margin-top: 7px;
}

nav > a:hover{
    background-color: #cc4f83;
}


/* Drop Menu */

.drop-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: var(--subColor2);
    display: none;
}

.show-drop--menu{
    display: none;
    width: 85%;
    height: 100vh;
}

.drop-menu ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    top: 80px;
    line-height: 50px;
    border-top: 1px solid #fff;
    width: 100%;
    padding-top: 20px;
}

.drop-menu ul li a{
    color: #fff;
}

.drop-menu ul li a:hover{
    color: grey;
}

.drop-menu ul li:last-child{
    width: 80%;
}

.drop-menu ul li:last-child a{
    background-color: var(--anchorBgcolor);
    padding: 0 20px;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.drop-menu ul li:last-child a:hover{
    color: var(--mainColor);
    background-color: #cc4f83;
}

.menu-icon{
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: none;
    background-image: url("photos/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.close-icon{
    background-image: url("photos/close.svg") !important;
}

/* Animation */

@keyframes slideFromleft{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

/* Face Section */

.face{
    background-color: var(--mainColor2);
}

.face .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.face-info{
    width: 55%;
}

.face-info h3{
    font-size: 60px;
    color: var(--subColor);
    margin-bottom: 35px;
}

.search{
    display: flex;
    height: 54px;
    align-items: center;
    position: relative;
}

.search input{
    border: none;
    width: 65%;
    height: 100%;
    border-radius: 30px;
    padding-left: 15px;
    font-size: 1em;
}

.search a{
    border-radius: 30px;
    color: var(--mainColor);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: var(--anchorBgcolor);
    position: absolute;
    right: 20%;
}

.search a:hover{
    background-color: #cc4f83;
}

.face-info p{
    margin: 15px 0 0 10px;
    color: grey;
    font-size: 0.9em;
}

.face-info p a{
    text-decoration: underline;
    margin-left: 5px;
    color: var(--subColor);
}

.face-info p a:hover{
    transform: scale(1);
    color: var(--subColor2);
}

/* Work Section */

.work{
    background-color: var(--subColor2);
    height: 450px;
}

.work .container{
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work .container div:nth-child(1){
    width: 45%;
}

.work .container div:nth-child(1) h3{
    font-size: 40px;
    margin-bottom: 20px;
}

.work .container div:nth-child(1) p{
    margin-bottom: 20px;
    color: rgb(177, 177, 177);
}

.work .container div:nth-child(1) a{
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
}

.work .container div:nth-child(1) a:hover{
    color: var(--subColor);
    background-color: var(--mainColor);
}

.work-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    justify-items: center;
}

/* Features Section */

.features{
    background-color: var(--mainColor2);
    padding: 50px 0;
}

.implement{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.implement .search input{
    position: absolute;
    left: 60px;
}

.implement .search  a{
    position: absolute;
    right: 0;
}

.implement > h3{
    color: var(--subColor);
    font-size: 40px;
}

.implement img{
    width: 50%;
}

.implement div{
    width: 50%;
}

.implement div h3{
    font-size: 40px;
    color: var(--subColor);
    margin-bottom: 20px;
}

.implement div p{
    color: grey;
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
    margin: 30px 0 100px;
}

.features-grid div{
    text-align: center;
}

.features-grid div img,
.features-grid div h3{
    margin-bottom: 20px;
}

.features-grid div h3{
    color: var(--subColor);
}

.features-grid div p{
    color: grey;
}

.start h3{
    text-align: center;
    font-size: 45px;
    margin-bottom: 25px;
}

.start .search{
    justify-content: center;
}

.start .search a{
    right: 17.5%;
}

/* Footer */

footer{
    background-color: var(--subColor2);
    padding: 20px 0;
}

footer nav div ul li a{
    color: var(--mainColor);
}

footer nav div ul li a:hover::before{
    background-color: var(--mainColor);
}

footer nav div:nth-child(2){
    width: 15%;
}

footer nav div:nth-child(2) a{
    color: var(--mainColor);
}

footer nav div:nth-child(2) a:hover{
    transform: scale(1);
}

footer nav div:nth-child(2) a:nth-child(1):hover{
    color: #1778F2;
}

footer nav div:nth-child(2) a:nth-child(2):hover{
    color: #fb3958;
}

footer nav div:nth-child(2) a:nth-child(3):hover{
    color: #00acee;
}

/* about.html */

.about{
    background-color: var(--mainColor2);
    padding: 50px 0;
}

.about-info > h3{
    font-size: 50px;
    width: 70%;
    margin-bottom: 50px;
    color: var(--subColor);
}

.info-details{
    margin-bottom: 80px;
}

.info-details div{
    display: flex;
    justify-content: space-between;
}

.info-details div:nth-child(1){
    margin-bottom: 50px;
}

.info-details div h3{
    font-size: 30px;
    width: 20%;
    color: var(--subColor);
}

.info-details div p{
    width: 75%;
    color: var(--subColor);
}

.team{
    width: 100%;
    height: 500px;
    margin-bottom: 80px;
}

.team img{
    width: 100%;
    height: 100%;
    filter: contrast(110%);
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
    margin-bottom: 80px;
}

.team-grid div{
    padding: 10px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.team-grid div p{
    color: rgb(134, 134, 134);
}

.team-grid div h3{
    font-size: 50px;
    color: var(--anchorBgcolor);
}

/* pricing.html */

.pricing{
    background-color: var(--mainColor2);
    padding-bottom: 50px;
}

.pricing-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 35px;
    margin-bottom: 50px;
}

.first h3{
    font-size: 30px;
    font-weight: 300;
    color: var(--anchorBgcolor);
    margin-bottom: 10px;
}

.first p{
    color: var(--subColor);
    line-height: 27px;
    margin-bottom: 10px;
}

.first span{
    display: block;
    font-size: 55px;
    font-weight: 300;
    color: var(--subColor);
    margin-bottom: 5px;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    line-height: 32px;
}

.second li{
    color: var(--subColor);
}

.second li i{
    margin-right: 5px;
    color: var(--anchorBgcolor);
}

.pricing-grid--child a:last-child{
    display: inline-block;
    font-size: 14px;
    margin: 20px 0;
    padding: 15px 25px;
    border: 1px solid var(--subColor);
    border-radius: 30px;
    color: var(--subColor);
}

.pricing-grid--child a:last-child:hover{
    color: var(--mainColor);
    background-color: var(--subColor);
}

/* contact.html */

.contact{
    background-color: var(--mainColor2);
    padding-bottom: 50px;
}

.contact-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.form-1{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form-1 > input,
.form-1 > textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--subColor);
    background-color: var(--mainColor2);
    font-size: 1em;
}

.form-1 > input{
    padding: 25px 20px;
}

.form-1 > textarea{
    padding: 25px 20px 0;
    font-family: Arial, sans-serif;
}

.form-1 div{
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 90%;
}

.form-1 div input{
    display: inline-block;
    margin-right: 10px;
    width: 28px;
    height: 25px;
    position: relative;
}

.form-1 div input::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--subColor);
}

.form-1 div input:checked::before{
    background-image: url("photos/icon-check.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: var(--anchorBgcolor);
}

.form-1 div label{
    font-size: 15px;
    color: var(--subColor);
}

.form-1 input[type="submit"]{
    display: inline-block;
    width: 30%;
    padding: 15px 25px;
    border-radius: 30px;
    color: var(--subColor);
    margin-top: 10px;
    border: 1px solid var(--subColor);
    cursor: pointer;
    font-size: 0.9em;
}

.form-1 input[type="submit"]:hover{
    color: var(--mainColor);
    background-color: var(--subColor);
}

.companies{
    width: 50%;
}

.companies p{
    font-size: 25px;
    margin: 0 0 30px 18px;
    color: var(--subColor);
}

/* Mobiles */

@media (min-width: 250px) and (max-width: 767px){
    nav{
        width: 90%;
    }
    
    .container{
        width: 90%;
    }
    

    .menu-icon{
        display: inline-block;
        z-index: 100;
    }

    .show-drop--menu{
        display: block;
        transition: width 0.7s, height 0.7s;
    }
    
    nav div img{
        margin-top: 0;
    }
    
    header nav div ul{
        display: none;
    }

    
    nav > a{
        display: none;
    }

    /* Face Section */

    .face{
        height: 750px;

    }
    
    .face .container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }

    .face .container img{
        position: absolute;
        top: 0;
        left: calc(50% - 140px);
        height: 60%;
        width: 320px;
    }
    
    .face-info{
        width: 100%;
        height: fit-content;
        position: relative;
        top: 56%;
    }
    
    .face-info h3{
        font-size: 23px;
        text-align: center;
    }

    .search input{
        width: 100%;
    }
    
    .search a{
        width: 100%;
        justify-content: center;
        position: absolute;
        top: 130%;
        right: 0;
    }
    
    .face-info p{
        margin: 0;
        text-align: center;
        position: relative;
        bottom: -90px;
    }

    /* Work Section */

    .work{
        height: fit-content;
        padding-bottom: 50px;
    }

    .work .container{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .work .container div:nth-child(1){
        margin: 30px 0;
        width: 100%;
        height: fit-content;
        text-align: center;
    }

    .work .container div:nth-child(1) h3{
        font-size: 30px;
    }

    .work-grid{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px 0;
        align-items: center;
        justify-items: center;
    }

        /* Features Section */

    .features{
        background-color: var(--mainColor2);
        padding-bottom: 100px;
        height: 2500px;
    }

    .features .container{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .implement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 40%;
        margin-bottom: 30px;
    }

    .implement > h3{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .implement div{
        width: 100%;
        height: fit-content;
        text-align: center;
    }

    .implement div h3{
        font-size: 30px;
    }

    .implement:nth-child(1) img{
        width: 100%;
        height: 90%;
        position: absolute;
        top: 0;
        left: 10px;
    } 

    .implement:nth-child(1) div{
        position: absolute;
        top: 75%;
    }

    .implement:nth-child(2) img{
        width: 100%;
        height: 90%;
        position: absolute;
        left: 10px;
    }

    .implement:nth-child(2) div{
        position: absolute;
        top: 85%;
    }

    .features-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 0 30px;
        margin: 70px 0 0 0;
    }

    .features-grid div{
        text-align: center;
        margin-bottom: 50px;
    }

    .features-grid div h3{
        font-size: 22px;
    }

    .implement:nth-child(4){
        height: 17%;
        justify-content: stretch;
    }
    
    .implement:nth-child(4) .search input{
        width: 100%;
        position: absolute;
        left: 0;
    }
    
    .implement:nth-child(4) .search a{
        display: flex;
        align-items: center;
        padding: 0 15px;
        background-color: var(--anchorBgcolor);
        position: absolute;
        top: 150%;
        right: 0;
    }

    .start h3{
        text-align: center;
        font-size: 35px;
        margin-bottom: 25px;
    }
    
    .start .search{
        justify-content: center;
    }
    
    .start .search a{
        right: 0;
    }

    /* Footer */

    footer{
        background-color: var(--subColor2);
        padding: 20px 0;
    }

    footer nav,
    footer nav div,
    footer nav div ul{
        display: flex;
        flex-direction: column;
    }

    footer nav div svg{
        margin-bottom: 20px;
    }

    footer nav div ul{
        line-height: 50px;
        margin-bottom: 20px;
    }

    footer nav div ul li{
        margin: 0;
    }
    

    
    footer nav div:nth-child(2){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
    }
    
    footer nav div:nth-child(2) a{
        color: var(--mainColor);
    }
    
    footer nav div:nth-child(2) a:hover{
        transform: scale(1);
    }
    
    footer nav div:nth-child(2) a:nth-child(1):hover{
        color: #1778F2;
    }
    
    footer nav div:nth-child(2) a:nth-child(2):hover{
        color: #fb3958;
    }
    
    footer nav div:nth-child(2) a:nth-child(3):hover{
        color: #00acee;
    }

    /* about.html */

    .about{
        padding-bottom: 100px;
    }

    .about-info > h3{
        width: 100%;
        font-size: 35px;
        text-align: center;
    }

    .info-details div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .info-details div h3{
        width: 100%;
        margin-bottom: 20px;
    }

    .info-details div p{
        width: 100%;
    }
    
    .team-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 30px 0;
        margin-bottom: 80px;
    }
    
    .team-grid div{
        text-align: center;
    }

        /* pricing.html */

    .pricing{
        padding-bottom: 100px;
    }

    .pricing .container h3{
        text-align: center;
    }

    .pricing-grid{
        text-align: center;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 25px 0;
        margin-bottom: 50px;
    }

    .first h3{
        font-size: 30px;
        font-weight: 300;
        color: var(--anchorBgcolor);
        margin-bottom: 10px;
    }

    .first p{
        color: var(--subColor);
        line-height: 27px;
        margin-bottom: 10px;
    }

    .first span{
        display: block;
        font-size: 55px;
        font-weight: 300;
        color: var(--subColor);
        margin-bottom: 5px;
    }

    .second{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        line-height: 32px;
    }

        /* contact.html */

    .contact{
        padding-bottom: 100px;
    }

    .contact .container > p{
        width: 100%;
        text-align: center;
    }

    .contact-flex{
        display: flex;
        flex-direction: column;
    }

    .form-1{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }


    .form-1 div{
        width: 100%;
    }

    .form-1 div input{
        display: inline-block;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .form-1 div input::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: var(--subColor);
    }

    .form-1 div input:checked::before{
        background-image: url("photos/icon-check.svg");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        background-color: var(--anchorBgcolor);
    }

    .form-1 div label{
        font-size: 15px;
        color: var(--subColor);
    }

    .form-1 input[type="submit"]{
        width: 80%;
        margin: 0 auto;
    }


    .companies{
        width: 100%;
    }

    .companies p{
        margin: 0 0 20px 0;
        text-align: center;
    }
}

/* Tablets */

@media (min-width: 768px) and (max-width: 1100px){
    nav{
        width: 95%;
        margin: 0 auto 0;
        justify-content: space-between;
    }
    
    .container{
        width: 90%;
    }
    
    nav div img{
        margin-top: 0;
    }
   
    nav > a{
        padding: 15px;
        background-color: var(--anchorBgcolor);
        border-radius: 30px;
        font-weight: 450;
        color: var(--mainColor);
        margin-top: 7px;
    }
    
    nav > a:hover{
        background-color: #cc4f83;
    }

    /* Face Section */

    .face{
        height: 750px;

    }
    
    .face .container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }

    .face .container img{
        position: absolute;
        top: 0;
        left: calc(50% - 140px);
        height: 60%;
        width: 320px;
    }
    
    .face-info{
        width: 100%;
        height: fit-content;
        position: relative;
        top: 56%;
    }
    
    .face-info h3{
        font-size: 23px;
        text-align: center;
    }

    .search input{
        width: 100%;
    }
    
    .search a{
        width: 100%;
        justify-content: center;
        position: absolute;
        top: 130%;
        right: 0;
    }
    
    .face-info p{
        margin: 0;
        text-align: center;
        position: relative;
        bottom: -90px;
    }

    .work{
        height: fit-content;
        padding-bottom: 50px;
    }

    .work .container{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .work .container div:nth-child(1){
        margin: 30px 0;
        width: 100%;
        height: fit-content;
        text-align: center;
    }

    .work-grid{
        width: 100%;
    }

    .features,
    .about,
    .pricing,
    .contact{
        padding-bottom: 100px;
    }

    .start h3{
        text-align: center;
        font-size: 35px;
        margin-bottom: 25px;
    }
    
    .start .search{
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
    
    .start .search a{
        right: 0;
    }
}